* {
	font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}
.navigation {
    background-color: #F6F9F9;
    padding:25px 100px;
}

/* Call to action */
#cta {
    background-image: url(../img/bg1.png);
    height: 800px;
    text-align: center;
}
#cta h1{
    color: white;
    font-size: 120px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 60px;
    margin-top: 0;
    padding-top: 225px;
    text-align: center;
}

#cta hr{
    border-color: #15a4fa;
    margin: 0 auto;
    width: 50%;
}